body {
  display: flex;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  line-height: 34px;
  min-height: 100vh;
  flex-direction: column;
  color: lightgrey;
  /*background: url("../images/concrete_seamless.png");*/
}

main {
  flex: 1 0 auto;
}


* {
  box-sizing: border-box;
}

/* general */

/*.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  clear: both;
  font-family: 'Special Elite', cursive;
}*/

p {
  font-family: 'Merriweather', serif;
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}


h2,
h3 {
  font-size: 22px;
}

/* header */

#masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;
  color: #fff;
  background: #fff;
  border-bottom: 2px solid #ccc;
}

#logo {
  float: left;
  width: 250px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;
}

#headerName {
  float: right;
}


.navbar-brand {
  float: right;
}

nav {
  margin-right:auto;
  margin-left:auto;
  height: 76px;
}

nav a {
  display: inline-block;
  line-height: 18px;
  color: #ff471a;
  text-decoration: none;
}

nav a:first-child {
  border-left: 0 none;
}

/* footer */

footer {
  padding: 35px 0;
  clear: both;
  font-size: 12px;
  color: #000;
  background: #fff;
  border-top: 2px solid #000;
}

/* sidebar */

.sidebar {
  float: right;
  width: 100%;
  max-width: 270px;
  padding: 30px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ddd;
}

h3,
.sidebar h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}

.social {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}

.social:last-child {
  margin-right: 0;
}

/* main */



.main-section {
  float: left;
  width: 100%;
  /*max-width: 650px;*/
  padding: 30px;
  background: #fff;
  /*border: 1px solid #ddd;*/
}

/* portfolio page */

.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

.auth-image {
  height: 100;
}


/* contact page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}
